!/system/client_secret_google.json
!/system/config.py
!/system/instagram_username.json
!/system/Client_secret.json
!/system/clientid.json
!/system/instagram_password.json
!/system/links.json
!/system/passw.json
!/system/proxy.ini
!/system/proxy_options.json
!/system/token.json
!/log/log.log
